<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error 403</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style type="text/css">
        body{
            background-color: #f5f5f5;
            display: flex;
            align-items: center;
        }
        .card {
            weight: 50%;
            text-align: center;
            padding: 15px;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .btn{
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="card">
        <h2>Sorry, you do not have permission to view this page.</h2>

        Click <a th:href="@{hello}"><button type="submit" class="btn btn-primary">Here</button></a>
        to go back to the Main Page.
    </div>
</body>
</html>