<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style type="text/css">
        body{
            background-color: #f5f5f5;
            display: flex;
            align-items: center;
        }
        .card {
            weight: 70%;
            text-align: center;
            padding: 15px;
            margin: auto;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -25%);
        }
        .btn{
            margin: 10px;
        }
        /*table {
            width: 100%;
        }*/
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div class="card">
    <h3>Admin page</h3>
    <table>
        <thead>
        <th>ID</th>
        <th>UserName</th>
        <th>Roles</th>
        <th>Action</th>
        <th>Action</th>
        </thead>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:each="role : ${user.roles}" th:text="${role.name}"></td>
            <td><form th:action="@{/adminDelete}" th:object="${user}" method="post">
                <input type="hidden" name="id" th:value="${user.id}">
                <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{/update}" th:object="${user}" >
                    <input type="hidden" name="username" th:value="${user.username}">
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </td>

        </tr>
    </table>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-primary" value="Sign Out"/>
    </form>
    <div th:text="${error}"></div>
</div>
</body>
</html>