<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<style type="text/css">
    body{
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
    }
    .card {
        weight: 50%;
        text-align: center;
        padding: 15px;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .btn{
        margin: 10px;
    }
</style>
<head>
    <title>Hello page</title>
</head>
<body>
<div class="card">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <a th:href="@{admin}"><button type="submit" class="btn btn-primary">Admin page</button></a>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-primary" value="Sign Out"/>
    </form>
</div>
</body>
</html>