<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style type="text/css">
        body{
            background-color: #f5f5f5;
            display: flex;
            align-items: center;
        }
        .card {
            weight: 50%;
            text-align: center;
            padding: 15px;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .btn{
            margin: 15px;
        }
    </style>
</head>
<body>
    <div class="card">
        <h1>WELCOME!</h1>
        <a th:href="@{login}"><button type="submit" class="btn btn-primary">TO THE LOGIN PAGE</button></a>
        <a th:href="@{registration}"><button type="submit" class="btn btn-primary">TO THE REGISTRATION PAGE</button></a>
    </div>
</body>
</html>