<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style type="text/css">
        body{
            background-color: #f5f5f5;
            display: flex;
            align-items: center;
        }
        .card {
            weight: 50%;
            text-align: center;
            padding: 15px;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .btn{
            margin: 10px;
        }
        input{
            margin: 7px;
        }
    </style>
</head>
<body>
<div class="card">
    <h3>Registration</h3>
    <form th:action="@{/registration}" th:object="${user}" th:method="post">
        <input type="text" name="username" placeholder="Username" pattern="^[a-zA-Z0-9]([._-](?![._-])|[a-zA-Z0-9]){3,18}[a-zA-Z0-9]$" required th:field="*{username}" /> <br>
        <input type="text" name="firstname" placeholder="Firstname" pattern="^[A-Za-z]{1,32}$" required th:field="*{firstname}" /> <br>
        <input type="text" name="lastname" placeholder="Lastname" pattern="^[A-Za-z]{1,32}$" required th:field="*{lastname}" /> <br>
        <input type="text" name="age" placeholder="Age" required pattern="^[0-9]{1,4}$" th:field="*{age}" /> <br>
        <input type="email" name="email" placeholder="Email" required th:field="*{email}" /> <br>
        <input type="password" name="password" placeholder="Password" required th:field="*{password}" /> <br>
        <input type="password" name="passwordConfirm" placeholder="Confirm your password" required th:field="*{passwordConfirm}" /> <br>
        <h3>Roles</h3>
        <input type="checkbox" name="roles" th:each="role : ${allRoles}" th:text="${role.name}" th:value="${role.id}" th:field="*{roles}"/><br>
        <button type="submit" class="btn btn-primary">Registration</button>
    </form>
</div>

</body>
</html>